<!doctype html>
<html lang="en" ng-app="chronicles">
<head>
  <meta charset="utf-8">
  <title>Chronicles</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="css/chronicles.css"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Andada' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>    
</head>
<body>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
   -->
  <div class="content" ng-view></div>  
  <div class="goto previous" ng-controller="GoToCtrl" ng-show="showPrevious()">
      <div class="medium-font oswald fluff" ng-click="previous()">
          Previous
      </div>
  </div>
  <div class="goto next" ng-controller="GoToCtrl" ng-show="showNext()">
      <div class="medium-font oswald fluff pull-right" ng-click="next()">
          Next
      </div>
  </div>
  <div class="timeline" ng-controller="ChronicleCtrl">     
    <div class="chronicles">
        <div class="chronicle pull-left" style="background-image:url('{{chronicles.bio.thumbnail.image}}')" ng-click="chronicles.fetch('bio')">
            <div class="type" style="color:{{chronicles.bio.thumbnail.icon.color}}">
                <i class="fa fa-{{chronicles.bio.thumbnail.icon.class}}"></i>
            </div>
        </div>        
        <div class="channels pull-left oswald">          
            <div class="oswald small-font opensans">
                Current Channel:
            </div>
            {{channels.current}}
            <div class="prev-next">
                <i class="fa fa-caret-down" ng-click="nextChannel()"></i>&nbsp;<i class="fa fa-caret-up" ng-click="previousChannel()"></i>
            </div>
        </div>        
        <div class="chronicle" style="background-image:url('{{chronicle.thumbnail.image}}')" ng-click="chronicles.fetch(chronicle.id)" ng-repeat="chronicle in chronicles.timeline">
            <div class="type" style="color:{{chronicle.thumbnail.icon.color}}">
                <i class="fa fa-{{chronicle.thumbnail.icon.class}}"></i>
            </div>
        </div>        
    </div>
    <div class="navigation oswald medium-font">
        <i class="fa fa-list"></i> Timeline
    </div>      
  </div>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src="//angulargm.herokuapp.com/angular-gm-0.3.1.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>    
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>    
</body>
</html>