<div class="chronicle {{chronicles.current.title.font.face}} large-font" style="background-image:url('{{chronicles.current.media}}');">
    <div class="bio" style="background-color:rgba({{chronicles.current.title.background.r}},{{chronicles.current.title.background.g}},{{chronicles.current.title.background.b}},{{chronicles.current.title.background.a}});">
        <div class="name pull-left">{{chronicles.current.title.text}}</div>         
        <div class="social-icons medium-font pull-right">
            <i class="fa fa-twitter"></i>
            <i class="fa fa-github"></i>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-youtube"></i>
            <i class="fa fa-flickr"></i>
        </div>        
        <div class="clearfix"></div>
        <p class="p-font opensans" markdown="{{chronicles.current.content.text}}">
        </p>
        <i class="fa fa-map-marker small-medium-font"></i>&nbsp;<span class="small-font opensans">{{chronicles.current.map.location}}</span>
        <img src='{{chronicles.current.map.static}}'>        
    </div>         
</div>
