<div class="chronicle {{chronicles.current.title.font.face}} large-font" style="background-image:url('{{chronicles.current.media}}');">
    <div class="bio" style="background-color:rgba({{chronicles.current.title.background.r}},{{chronicles.current.title.background.g}},{{chronicles.current.title.background.b}},{{chronicles.current.title.background.a}});">
        <div class="name pull-left">{{chronicles.current.title.text}}</div>
        <div class="social-icons medium-font pull-right">
            <a href={{chronicles.current.twitter}}><i class="fa fa-twitter"></i></a>
            <a href={{chronicles.current.github}}><i class="fa fa-github"></i></a>
            <a href={{chronicles.current.facebook}}><i class="fa fa-facebook"></i></a>
            <a href={{chronicles.current.youtube}}><i class="fa fa-youtube"></i></a>
            <a href={{chronicles.current.flickr}}><i class="fa fa-flickr"></i></a>
        </div>
        <div class="clearfix"></div>
        <p class="p-font oswald" markdown="{{chronicles.current.content.text}}"></p>
        <i class="fa fa-map-marker small-medium-font"></i>&nbsp;<span class="small-font opensans">{{chronicles.current.map.location}}</span>
        <img src='{{chronicles.current.map.static}}'>
    </div>
</div>
