<!doctype html>
<html lang="en" ng-app="chronicles">
<head>
  <meta charset="utf-8">
  <title>Chronicles</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="css/chronicles.css"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Andada' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <meta property="og:image" content="http://farm4.staticflickr.com/3670/12861538023_3f7718689f_o.png"/>
  <meta property="og:title" content="Chronicles of kcmerrill"/>
  <meta property="og:url" content="http://www.kcmerrill.com"/>
  <meta property="og:site_name" content="Chronicles of kcmerrill"/>
  <meta property="og:description" content="Adventurer. Dreamer. Explorer. Doer. Full time Software engineer, part time running/soccer/outdoor/camping loon."/>
</head>
<body>
<%if (req.session.authenticated) { %>
<div ng-controller="AdminCtrl" ng-cloak>
    <div class="admin-mode oswald editable" ng-show="mode == false">
        <i class="fa fa-plus" ng-click="create()"></i>
        <br/>
        <i class="fa fa-edit" ng-click="mode = true"></i>
    </div>
    <div class="admin-bg" ng-show="mode != false">
        <div class="close large-font pull-right" ng-click="mode = false"><i class="fa fa-times"></i></div>
        <div class="admin">
            <div class="oswald medium-font">Layouts:</div>
            <div class="layout oswald medium-font" ng-repeat="layout in layouts" ng-click="chronicles.current.layout = layout.value">{{layout.label}}</div>
            <div style="clear:both"></div>
            <div class="editable">
                <span class="oswald extra-large-font" ng-click="mode = 'Icon'"><i class="fa fa-{{chronicles.current.thumbnail.icon.class}}"></i></span>
                <input type="text" class="oswald large-font" ng-show="mode == 'Icon'" ng-model="chronicles.current.thumbnail.icon.class">
                <span class="oswald extra-large-font" ng-show="mode != 'Title'" ng-click="mode = 'Title'">{{chronicles.current.title.text}}</span>
                <input type="text" class="oswald extra-large-font" ng-model="chronicles.current.title.text" placeholder="Title ..." ng-show="mode == 'Title'">
            </div>
            <div class="editable" ng-click="mode = 'Date'">
                <span class="oswald medium-font" ng-show="mode != 'Date'">{{chronicles.current.created}}</span>
                <input type="text" class="oswald medium-font" ng-model="chronicles.current.created" placeholder="Date" ng-show="mode == 'Date'">
            </div>
            <div class="panel">
                <img src="{{chronicles.current.media}}" ng-click="photos()" class="editable" ng-show="chronicles.current.media.indexOf('youtube.com') == -1">
                <iframe src="{{chronicles.mediaToYouTube()}}" frameborder="0" allowfullscreen ng-show="chronicles.current.media.indexOf('youtube.com') != -1"></iframe>
            </div>
            <div class="panel" ng-show="mode == 'Media'">
                <input type="text" class="oswald medium-font" ng-model="chronicles.current.media" placeholder="http://..." ng-show="mode == 'Media'">
                <span ng-repeat="i in chronicles.images"><img src="http://farm{{i.farm}}.staticflickr.com/{{i.server}}/{{i.id}}_{{i.secret}}_t.jpg" class="thumbnail" ng-click="chronicles.photo(i.id)" ng-show="$index <= 10"></span>
            </div>
            <div class="panel" ng-show="mode != 'Media'">
                <div class="editable" ng-click="mode = 'Content'">
                    <div class="demo oswald medium-font" ng-show="mode != 'Content'" markdown="{{chronicles.current.content.text}}"></div>
                    <textarea ng-show="mode == 'Content'" rows="13" ng-model="chronicles.current.content.text">{{chronicles.current.content.text}}</textarea>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="channels large-font oswald">
                <span ng-click="mode = 'Channels'">Channels:</span><span class="large-font oswald editable" ng-click="mode = 'Channels'" ng-show="mode != 'Channels'">{{chronicles.current.channels}}</span>
                <input type="text" class="oswald medium-font" ng-model="chronicles.current.channels" placeholder="Channels ... comma seperated" ng-show="mode == 'Channels'">
            </div>
            <div style="clear:both"></div>
            <div class="save">
                <span class="oswald large-font editable pull-right" ng-click="save()">Save</span>
            </div>
        </div>
    </div>
</div>
<% } %>
  <div class="content" ng-view></div>
  <div class="goto previous" ng-controller="GoToCtrl" ng-show="showPrevious()">
      <div class="medium-font oswald fluff" ng-click="previous()">
          Previous
      </div>
  </div>
  <div class="goto next" ng-controller="GoToCtrl" ng-show="showNext()">
      <div class="medium-font oswald fluff pull-right" ng-click="next()">
          Next
      </div>
  </div>
  <div class="timeline" ng-controller="ChronicleCtrl">
    <div class="chronicles">
        <div class="chronicle pull-left" style="background-image:url('{{chronicles.bio.thumbnail.image}}')" ng-click="chronicles.fetch('bio')">
            <div class="type" style="color:{{chronicles.bio.thumbnail.icon.color}}">
                <i class="fa fa-{{chronicles.bio.thumbnail.icon.class}}"></i>
            </div>
        </div>
        <div class="channels pull-left oswald">
            <div class="oswald small-font opensans">
                Current Channel:
            </div>
            {{channels.current}}
            <div class="prev-next">
                <i class="fa fa-caret-down" ng-click="nextChannel()"></i>&nbsp;<i class="fa fa-caret-up" ng-click="previousChannel()"></i>
            </div>
        </div>
        <div class="chronicle" style="background-image:url('{{chronicle.thumbnail.image}}')" ng-click="chronicles.fetch(chronicle.id)" ng-repeat="chronicle in chronicles.timeline">
            <div class="type" style="color:{{chronicle.thumbnail.icon.color}}">
                <i class="fa fa-{{chronicle.thumbnail.icon.class}}"></i>
            </div>
        </div>
    </div>
    <div class="navigation oswald medium-font">
        <i class="fa fa-list"></i> Timeline
    </div>
  </div>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src="//angulargm.herokuapp.com/angular-gm-0.3.1.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src="js/moment.min.js"></script>
  <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

</script>
</body>
</html>
